@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300; 0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Onest", sans-serif;
}
.imageh {
    height: auto;
    padding: 0 5%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
}
.imageh .images .img-1 {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
}
.imageh .images .img-1 {
    background: url('https://ideogram.ai/api/images/direct/ZKa3F3j8QsaPnbWCWCr20w.png') center/cover no-repeat;
    filter: brightness(50%);
    /* Adjust the percentage as needed */
    background-position: center;
    background-size: cover;/
}
.contact-container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none !important;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none !important;
    outline: none !important;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 10px;
    font-size: 15px;
}
.contact-left textarea{
    height: 200px;
    padding-top: 15px;
    border-radius: 10px;
    font-family: "Onest", sans-serif;
}
.contact-inputs:focus{
    border: 2px solid orange !important;
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none !important;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
    transition: transform 0.3s ease;
    background-size: 200% 200%;
}
.contact-left button:hover {
    animation: colorShift 3s ease infinite;
    transform: scale(1.05);
}
@keyframes colorShift {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}
.contact-left button img{
    height: 15px;
}
.contact-right img{
    width: 500px;
}
@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-left{
        flex-direction: column;
        align-items: center;
    }
    .contact-right{
        display: none;
    }
}
